.node rect.basic.label-container {
  stroke: #0000 !important;
  fill: #0000 !important;
}

g.edgeLabels {
  font-style: italic;
  fill: #0000 !important;
}

pre.mermaid {
  display: grid;
  place-items: center;
}

.actor-bottom,
.actor-bottom *,
.actor-bottom + .actor-box * {
  fill: #0000 !important;
  color: #0000 !important;
  background-color: #0000 !important;
  stroke: #0000 !important;
}

text.packetByte,
text.packetLabel {
  font-size: inherit !important;
}

.packetBlock {
  fill: none !important;
}
