name: Deploy docs site to GitHub Pages

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: '0.4.40'

      - name: Source cargo environment
        run: |
          [[ -f ~/.cargo/env ]] && source ~/.cargo/env || true

      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.86.0
          default: true

      - name: Install linkcheck
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: mdbook-linkcheck

      - name: Install diataxis
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: mdbook-diataxis

      - name: Install yuescript
        run: |
          sudo snap install yuescript
          sudo snap alias yuescript.yue yue

      - name: Install luajit
        run: |
          sudo apt install luajit

      - run: make site

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/book/html
